
<div class="nav">
  <div class="search">
    <form (submit)="getData()">
      <label>Search</label>
      <input type="text" id="search" name="searchBar" class="searchBar" [(ngModel)]="searchStr">
      <input type="submit" name="submit" value="Search">
    </form>
  </div>
</div>


<div class="info" *ngFor="let i of gotData; let a = index">
  {{i.name}}
  <a href="{{i.url}}">
    <button>Buy Tickets!</button>
  </a>

    <button (click)="getEventInfo(a)">Details</button>
</div>



 <div id="event" style="display: none">
    {{eventData.name}}
    {{eventData.dates.start.localDate}}
    {{eventData.dates.start.localTime}}
    <img src="{{eventData.images[0].url}}">

      {{eventData._embedded.venues[0].name}}
      {{eventData._embedded.venues[0].address.line1}}
      {{eventData._embedded.venues[0].city.name}}
      {{eventData._embedded.venues[0].state.stateCode}}
      {{eventData._embedded.venues[0].parkingDetail}}
    
</div> 


